/* 콘텐츠 너비 : 958 px */
:root {
    --st-header-bg: #171D25;
    --st-logo-react: #FFFFFF;
    --st-nav-bg: #272A33;
    --st-header-gray: #C5C3C0;
    --st-gray-text: #969696;
    --st-lang-opt: #3D4450;
    --st-lang-opt-hover: #DCDEDF;
    --st-blue: #1A9FFF;
    --st-green-btn: #5C7E10;
    --st-green-btn-hover:#6C9018;
    --st-lightgreen: #A1CD44;
    --st-blue-text: #5EAFDE;
    --st-skyblue-btn: #66C0F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pg-community {
    min-height: 100vh;
    margin: 0;

    background-color: #192b3e;
    background-image: url("https://store.fastly.steamstatic.com/images/storepagebackground/app/2668080?t=1769627290");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    background-attachment: fixed;

    color: var(--st-logo-react);
    font-family: "Motiva Sans", sans-serif;
    font-weight: normal;
}

.pg-community .community-home-header,
.pg-community .community-home-tabs,
.pg-community .community-home-contents,
.pg-community .community-home-sort-options,
.pg-community .apphub-contents {
    width: 948px;
    margin-left: auto;
    margin-right: auto;
}

.community-home-header {
    position: relative;
    max-width: 948px;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: left;
}

.community-home-title h1 {
    display: block;
    font-size: 26px;
    line-height: 39px;
    font-weight: 400;
    text-align: left;
    color: white;
}

.community-home-subtitle h3 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 17px;
    text-align: left;
    color: #9099a1;
    padding-top: 5px;
}

.community-home-app-shortcuts {
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-top: 15px;
}

.community-home-shortcut-content {
    width: 626px;
    min-height: 210px;
    padding: 10px;

    display: flex;
    gap: 10px;

    background-color: rgba(0, 0, 0, 0.4);
}

.community-home-login {
    width: 293px;
}

.community-home-login-content {
    display: block;
    color: #c6d4df;
    font-size: 12px;
}

.community-activity-signin-buttons {
    display: flex;
    justify-content: left;
    padding-top: 16px;
}

.community-activity-signin-buttons a {
    text-decoration: none;
    color: var(--st-logo-react);

    background: #799905;
    background: -webkit-linear-gradient(top, #799905 5%, #536904 95%);
    background: linear-gradient(to bottom, #799905 5%, #536904 95%);
}

.community-activity-signin-buttons a :hover {
    cursor: pointer;
    background: #a1bf07;
    background: -webkit-linear-gradient(top, #a1bf07 5%, #80a006 95%);
    background: linear-gradient(to bottom, #a1bf07 5%, #80a006 95%);
}

.community-activity-signin-buttons span {
    display: block;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;

    border-radius: 2px;
}

.community-activity-or {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 32px;
}

.community-home-join-steam {
    padding-top: 10px;
    font-size: 12px;
    line-height: 17px;
}

.community-home-join-steam a{
    color: #c6d4df;
}

.community-home-join-steam a:hover{
    color: white;
}

.responsive-local-menu-placeholder {
    float: left;
    width: 50%;
}

.community-home-app-shortcuts-list-header {
    font-size: 11px;
    color: #8f98a0;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.community-home-app-shortcuts-list {
    font-size: 11px;
}

.apphub-shortcut {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
}

.apphub-shortcut .shortcut-item {
    width: 28px;
    height: 28px;
    float: left;
    margin-right: 5px;
}

.apphub-shortcut-title {
    text-decoration: none;
    color: #dadada;
}

.apphub-shortcut-title:hover{
    text-decoration: underline;
    color: white;
}

.new_items_text {
    font-size: 12px;
    line-height: 15px;
    color: #2f89bc;
}

.community-home-searchbox {
    width: 33%;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.community-home-search-title {
    font-size: 11px;
    color: #8f98a0;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.community-home-search-input {
    background-color: #2a3f5a;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #45556c;
    color: #fff;
    margin-top: 5px;
    padding: 5px 6px 4px 5px;
    
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
} 

.apphub-search-text {
    flex: 1;
    min-width: 0;

    border: none;
    outline: none;
    background-color: transparent;
    
    color: #d6d7d8;
    font-style: 14px;
    font-style: italic;
}

.apphub-search-text::placeholder {
    color: #8f98a0;
    opacity: 1;
}

.community-home-search-divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #000;
    background-color: #333;
    margin: 35px 0;
}

.community-home-tabs {
    position: relative;
    max-width: 948px;
    margin: 0px auto;
    padding: 10px 1%;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}

.apphub-section-tabs {
    display: flex;
    flex-direction: row;
    gap: 6px;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    padding-block-start: 20px;
    padding-block-end: 12px;
}

.apphub-section-item {
    font-weight: 500;
    font-size: 14px;
    margin-right: 12px;
    color: white;
    opacity: 0.7;
    transition: opacity .2s ease;
    text-decoration: none;
}

.apphub-section-item:hover {
    opacity: 1;
    color: white;
}

.apphub-section-item.active {
    border-bottom: 3px solid var(--st-blue);
}

.apphub-section-select {
    display: none;
}

.community-home-sort-options {
    padding: 0 1% 10px;
    margin: 0 auto;
    text-align: left;
    font-weight: normal;

    display: flex;
    justify-content: flex-end;

    padding: 0 0 10px;
}

.community-home-sort-btns {
    color: var(--st-gray-text);
    font-size: 14px;
}

.community-home-sort-button {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #ebebeb !important;
    background-color: #000;
    box-shadow: inset 0 1px 1px #434343;

    padding: 0 15px;
    font-size: 12px;
    line-height: 20px;
}

.community-home-sort-button:hover {
    background: #445b7e;
    background: -webkit-linear-gradient(top, #445b7e 5%, #364963 95%);
    background: linear-gradient(to bottom, #445b7e 5%, #364963 95%);
}

.community-home-sort-button.active{
    color: #A4D7F5;
    background: rgba(47, 137, 188, 1);
    background: -webkit-linear-gradient(top, rgba(47, 137, 188, 1) 5%, rgba(23, 67, 92, 1) 95%);
    background: linear-gradient(to bottom, rgba(47, 137, 188, 1) 5%, rgba(23, 67, 92, 1) 95%);
}

.community-home-sort-button.active:hover {
    text-decoration: none !important;
    color: #ffffff !important;
    background: rgba(102, 192, 244, 1);
    background: -webkit-linear-gradient(
        top,
        rgba(102, 192, 244, 1) 5%,
        rgba(47, 137, 188, 1) 95%
    );
    background: linear-gradient(
        to bottom,
        rgba(102, 192, 244, 1) 5%,
        rgba(47, 137, 188, 1) 95%
    );
}

.apphub-contents {
    text-align: left;
    margin: 0 auto;
}

.card-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.row-pattern-1 .card:first-child {
    flex: 2;
}

.row-pattern-1 .card:last-child {
    flex: 1;
}

.row-pattern-2 .card:first-child {
    flex: 1;
}

.row-pattern-2 .card:last-child {
    flex: 2;
}

.card {
    display: flex;
    flex-direction: column;

    height: 395px;
    background-color: #0d131b;
    margin-bottom: 10px;
    
    border: 1px solid transparent;
}

.card-image {
    position: relative;
    flex-shrink: 0;
    padding: 5px;

    height: 300px;
    overflow: hidden;
}

.card-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-type {
    visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    color: white;
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    margin: 5px;

    background-color: rgba(27, 40, 56, 0.9);
}

.card:hover {
    cursor: pointer;
    border-color: #2f89bc;
}

.card:hover .card-type {
    visibility: visible;
}

.card-info {
    flex: 0 0 47px;

    color: #636363;
    font-size: 12px;
    padding: 5px;
}

.card-footer {
    flex-shrink: 0;
    height: 48px;

    display: flex;
    align-items: center;
    padding: 0 5px;

    font-size: 13px;
    color: #636363;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 2px solid #272F38;
}

.card:hover .card-footer {
    background-color: rgba(27, 40, 56, 0.9)
}

.card-content.review {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    position: relative;
}

.review-reactions {
    position: relative;
    padding: 10px 10px 0;
    font-size: 12px;
    line-height: 18px;
    color: #636363;
    margin: 0 0 14px 0;
}

.review-reactions .award-count {
    position: absolute;
    right: 10px;
    bottom: 0;
    color: var(--st-blue-text);
}

.review-summary {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.review-icon {
    display: block;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    object-fit: cover;
}

.review-summary-text h3 {
    color: var(--st-logo-react);
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.review-summary-text p {
    color: var(--st-logo-react);
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
}

.review-text {
    padding: 0 10px;
    margin-top: 14px;
    overflow: hidden;
    color: #acb2b8;
    font-size: 13px;
    line-height: 20px;
}

.review-date {
    margin-bottom: 4px;
    color: #8091a2;
    font-size: 12px;
}

.card-content.review .card-footer {
    width: 100%;
    margin-top: auto;
}

.compact {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: fit-content;
    padding: 0;
    background: none;
    z-index: 3;
}

.footer-content {
    width: calc((100vw - 948px) / 2);
}

.footer-text {
    display: block;
    padding: 0 0 4px 12px;
    line-height: 16px;
    color: #537793;
}

.footer-text a {
    text-decoration: none;

    display: inline-block;
    margin-right: 12px;
    margin-bottom: 7px;
    color: #799AB4;
}

.footer-text a:hover {
    color: white;
}

.responsive-option-link {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;
}

.footer-copyright {
    display: block;
    white-space: nowrap;
}

.responsive-option-link span {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    text-decoration: none;
    color: #66C0F4;
    background: #212c3d;
}

.responsive-option-link span:hover {
    text-decoration: none;
    color: #fff;
    background: #66C0F4;
}

.row-pattern-3 .card {
    flex: 1;
    min-width: 0;
}

.guide-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.guide-title {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    margin: 0 14px;
    padding: 10px;
    background-color: #262f38;
}

.guide-title img {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.guide-title p {
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.guide-content {
    flex: 1;
    min-height: 0;
    overflow: hidden;

    padding: 14px;
    color: #acb2b8;
    font-size: 13px;
    line-height: 20px;
}

.guide-card-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 5px;
}

.card-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-rating .star {
    color: #8AC33E;
}

.card-rating .star span{
    color: #5C5C5F;
}

.card-rating p {
    color: #53606d;
    font-size: 12px;
}

.guide-card-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.guide-card-right .award-count {
    color: var(--st-blue-text);
}

.guide-card-right .comments {
    color: #acb2b8;
}

/* 화면 너비가 1400px 이하일 때 footer 처리 */
@media screen and (max-width: 1400px) {
    .compact {
        position: fixed;
        left: 0;
        bottom: 0;

        width: 32px;
        height: 32px;
        overflow: hidden;

        background-color: #101822;
        cursor: pointer;
        transition: width 0.5s ease;
        z-index: 3;
    }

    /* 접혔을 때 보이는 © */
    .compact::before {
        content: "©";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;
        padding: 0;

        color: #66c0f4;
        background-color: #101822;
    }

    .compact .footer-content {
        position: absolute;
        left: 32px;
        top: 0;

        display: block;
        width: 598px;
        height: 32px;
    }

    /* 텍스트는 항상 한 줄 유지 */
    .compact .footer-text {
        display: block;
        padding: 8px 0;
        line-height: 16px;
        white-space: nowrap;
    }

    .compact .footer-text a {
        margin-bottom: 0;
    }

    .footer-copyright {
        display: inline;
    }

    .responsive-option-link {
        display: none;
    }

    .compact:hover {
        width: 630px;
    }
}

/* 화면 너비가 910px 이하일 때 Community 상단 영역 처리 */
@media screen and (max-width: 910px) {
    .pg-community .community-home-header,
    .pg-community .community-home-tabs,
    .pg-community .community-home-sort-options,
    .pg-community .apphub-contents {
        width: 100%;
    }

    .community-home-header {
        padding: 8px 6px 0;
    }

    .community-home-app-shortcuts {
        display: block;
        margin-top: 15px;
    }

    .community-home-shortcut-content {
        display: none;
    }

    .responsive-local-menu-placeholder {
        display: none;
    }

    .community-home-searchbox {
        width: 100%;
        padding: 10px;
    }

    .community-home-searchbox > div {
        display: flex;
        gap: 35px;
    }

    .community-home-search {
        flex: 1;
        min-width: 0;
    }

    .community-home-search-divider {
        display: none;
    }

    .community-home-tabs {
        padding: 0 6px;
    }

    .community-home-sort-options {
        padding: 10px 6px;
    }

    .apphub-contents {
        padding: 0 6px;
    }

    .card-row,
    .card-row .card {
        min-width: 0;
    }

    .apphub-section-tabs {
        display: none;
    }

    .apphub-section-select {
        display: block;
        width: 100%;
        height: 39px;
        padding: 0 14px;

        border: 1px solid #2f89bc;
        background-color: #0d131b;
        color: var(--st-logo-react);
        font-size: 14px;
    }
}

